// Couleurs
$primary: rgb(183, 192, 232);
$secondary: rgb(255, 191, 0);
$tertiary: rgb(204, 204, 204);
$dark: rgb(29, 29, 29);
$dark-light: rgb(109, 109, 109);
$light: rgb(239, 239, 239);

// Polices
$font-title: "Croissant One", cursive;
$font-text: "Mooli", sans-serif;

// Espacements
$spacing: 0.25rem;
$spacing1: 0.5rem;
$spacing2: 1rem;
$spacing3: 1.5rem;
$spacing4: 2rem;

// Ombres
$shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);
